# Dependências
**/node_modules
**/__pycache__
*.pyc

# Build
**/dist
**/build

# Ambiente
**/.env
**/.env.local
**/.env.*.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Deploy
**/.vercel

# Python
*.egg-info/
venv/
.venv/

# Database
*.db
*.sqlite3
instance/